{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pacientes/cadastrar_paciente.css' %}">
{% endblock %}

{% block content %}
    <header class="cabecalho-conteudo">
        <h1 class="titulo-pagina">Cadastrar Paciente</h1>
    </header>

    <form method="POST">
        {% csrf_token %}

        <section class="informacoes-pessoais">
            <h2>Informações Pessoais</h2>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="nome_completo">Nome Completo:</label>
                    <input type="text" name="nome_completo" id="nome_completo" class="input" required>
                </div>

                <div class="campo-formulario">
                    <label for="telefone">Telefone:</label>
                    <input type="text" name="telefone" id="telefone" class="input" required>
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="email">E-mail:</label>
                    <input type="email" name="email" id="email" class="input" required>
                </div>

                <div class="campo-formulario">
                    <label for="idade">Idade:</label>
                    <input type="number" name="idade" id="idade" class="input" required>
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="sexo">Sexo:</label>
                    <select name="sexo" id="sexo" class="input" required>
                        <option value="Masculino">Masculino</option>
                        <option value="Feminino">Feminino</option>
                        <option value="Outro">Outro</option>
                    </select>
                </div>

                <div class="campo-formulario">
                    <label for="data_nascimento">Data de Nascimento:</label>
                    <input type="date" name="data_nascimento" id="data_nascimento" class="input" required>
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="cpf">CPF:</label>
                    <input type="text" name="cpf" id="cpf" class="input" required>
                </div>
            </div>
        </section>

        <section class="informacoes-adicionais">
            <h2>Informações Adicionais</h2>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="estado_civil">Estado Civil:</label>
                    <input type="text" name="estado_civil" id="estado_civil" class="input">
                </div>

                <div class="campo-formulario">
                    <label for="rg">RG:</label>
                    <input type="text" name="rg" id="rg" class="input">
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="cidade">Cidade:</label>
                    <input type="text" name="cidade" id="cidade" class="input">
                </div>

                <div class="campo-formulario">
                    <label for="estado">Estado:</label>
                    <input type="text" name="estado" id="estado" class="input">
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="profissao">Profissão:</label>
                    <input type="text" name="profissao" id="profissao" class="input">
                </div>
            </div>
        </section>

        <section class="informacoes-familiares">
            <h2>Informações Familiares</h2>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="nome_mae">Nome da Mãe:</label>
                    <input type="text" name="nome_mae" id="nome_mae" class="input">
                </div>

                <div class="campo-formulario">
                    <label for="nome_pai">Nome do Pai:</label>
                    <input type="text" name="nome_pai" id="nome_pai" class="input">
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="nome_contato_familiar">Nome do Contato Familiar:</label>
                    <input type="text" name="nome_contato_familiar" id="nome_contato_familiar" class="input">
                </div>

                <div class="campo-formulario">
                    <label for="grau_parentesco">Grau de Parentesco:</label>
                    <input type="text" name="grau_parentesco" id="grau_parentesco" class="input">
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="telefone_contato_familiar">Telefone do Contato Familiar:</label>
                    <input type="text" name="telefone_contato_familiar" id="telefone_contato_familiar" class="input">
                </div>
            </div>
        </section>

        <button type="submit" class="btn-enviar">Cadastrar Paciente</button>
    </form>
{% endblock %}
