{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/pacientes/detalhes_paciente.css' %}">
{% endblock %}

{% block content %}
<h2>Detalhes do Paciente</h2>

<div class="detalhes-paciente">
    <p><strong>Nome completo:</strong> {{ paciente.nome_completo }}</p>
    <p><strong>Telefone:</strong> {{ paciente.telefone }}</p>
    <p><strong>Email:</strong> {{ paciente.email }}</p>
    <p><strong>Idade:</strong> {{ paciente.idade }}</p>
    <p><strong>Sexo:</strong> {{ paciente.sexo }}</p>
    <p><strong>Data de Nascimento:</strong> {{ paciente.data_nascimento }}</p>
    <p><strong>CPF:</strong> {{ paciente.cpf }}</p>
    <p><strong>Estado Civil:</strong> {{ paciente.estado_civil }}</p>
    <p><strong>RG:</strong> {{ paciente.rg }}</p>
    <p><strong>Cidade:</strong> {{ paciente.cidade }}</p>
    <p><strong>Estado:</strong> {{ paciente.estado }}</p>
    <p><strong>Profissão:</strong> {{ paciente.profissao }}</p>
    <p><strong>Nome da Mãe:</strong> {{ paciente.nome_mae }}</p>
    <p><strong>Nome do Pai:</strong> {{ paciente.nome_pai }}</p>
    <p><strong>Contato Familiar:</strong> {{ paciente.nome_contato_familiar }}</p>
    <p><strong>Parentesco:</strong> {{ paciente.grau_parentesco }}</p>
    <p><strong>Telefone do Contato:</strong> {{ paciente.telefone_contato_familiar }}</p>
</div>

<a href="{% url 'listar_paciente' %}" class="botao-voltar">Voltar</a>
{% endblock %}
