@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --primary-color: #002B3C;
    --secondary-color: #009AA5;
    --background-color: #f2f2f5;
    --text-color: #000E13;
    --link-color: #002B3C;
    --table-header-background: #002B3C;
    --box-shadow-color: rgba(0, 0, 0, 0.1);
    --hover-background-color: #f9f9f9; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Barlow', sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
    max-width: 100dvw;
    min-width: 100dvh;
}

nav {
    background-color: var(--primary-color);
    padding: 2% 10%;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
}

nav ul li {
    margin: 0 2%;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

.container {
    border-radius: 12px;
    max-width: 80%;
    margin: 3% auto;
    padding: 2% 3%;
    background-color: white;
    box-shadow: 0 4px 8px var(--box-shadow-color);
}

h1 {
    color: var(--text-color);
    font-size: 2.5em;
    text-align: left;
    margin-bottom: 2%;
}

a {
    color: var(--link-color);
    text-decoration: none;
    font-size: 1.2em;
}

