<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OdontoÁgil</title>
    <link rel="shortcut icon" type="imagex/png" href="{% static 'img/tooth.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_css %}
    {% endblock %}
</head>
<body>

    <header class="cabecalho">
        <div class="img-logotipo">
            <img src="{% static 'img/logo.png' %}" alt="Logotipo" width="100%"/>
        </div>
        <nav class="barra-navegacao">
            <ul>
                <li class="item-inicio"><img src="{% static 'img/icons/home.svg' %}" alt="Ícone Home"/><a href="{% url 'index' %}">Início</a></li>
                <li class="item-paciente"><img src="{% static 'img/icons/pacient.svg' %}" alt="Ícone Paciente"/><a href="{% url 'listar_paciente' %}">Pacientes</a></li>
                <li class="item-historia"><img src="{% static 'img/icons/file.svg' %}" alt="Ícone História Clínica"/><a href="{% url 'historia_clinica' %}">Histórias Clínicas</a></li>
                <li class="item-servicos"><img src="{% static 'img/icons/teeth.svg' %}" alt="Ícone Servicos"/><a href="{% url 'listar_servicos' %}">Servicos</a></li>
                <li class="item-usuarios"><img src="{% static 'img/icons/user.svg' %}" alt="Ícone Usuários"/><a href="{% url 'listar_usuarios' %}">Usuários</a></li>
            </ul>
        </nav>
    </header>

    <main class="principal">
        <div class="conteudo">
            {% block content %}
            {% endblock %}
        </div>
    </main>

</body>
</html>
