{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/serviços/cadastrar_serviços.css' %}">
{% endblock %}

{% block content %}
    <header class="cabecalho-conteudo">
        <h1 class="titulo-pagina">Cadastrar Serviços</h1>
    </header>

    <form method="POST">
        {% csrf_token %}

        <section class="Cadastro de Servicos Prestados">
            <h2>Informações do Tratamento</h2>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="data_incllusao">Data Inclusao:</label>
                    <input type="date" name="data_inclusao" id="data_inclusao" class="input" required>
                </div>

                <div class="campo-formulario">
                    <label for="codigo_servicos">Codigo de Serviços:</label>
                    <input type="text" name="codigo_servicos" id="codigo_servicos" class="input" required>
                </div>
            </div>

            <div class="campo-formulario">
                <div class="campo-formulario">
                    <label for="material_usado">Material usado:</label>
                    <input type="text" name="material_usado" id="material_usado" class="input" required>
                </div>

                <div class="campo-formulario">
                    <label for="descricao_servicos">descriçao_serviços:</label>
                    <input type="text" name="descricao_servicos" id="idade" class="input" required>
                </div>
            </div>

                <div class="campo-formulario">
                    <label for="codigo_servicos_secundarios">Codigo serviços secundarios:</label>
                    <input type="text"  name="codigo_servicos_secundarios" id="codigos_servicos_secundarios" class="input" required>
                </div>
            </div>

            <div class="campo-formulario">
                <div class="campo-formulario">
                    <label for="descricao_servicos_secundarios">descriçao serviços secundarios:</label>
                    <input type="text" name="descricao_servicos_secundarios" id="descricao_servicos_secundarios" class="input" required>
                </div>
            </div>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="aparelho_apoio">aprelho_apoio:</label>
                    <input type="text" name="aparelho_apoio" id="aparelho_apoio" class="input" required>
                </div>
            </div>
            <div class="form-row">
                <div class="observacoes">
                    <label for="observacoes">Observaçoes:</label>
                    <input type="text" name="observacoes" id="observacoes" class="input" required>
                </div>
            </div>
        </section>

        

        <button type="submit" class="btn-enviar">Cadastrar Serviços</button>
    </form>
{% endblock %}