{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/servicos/detalhes_servicos.css' %}">
{% endblock %}

{% block content %}
<h2>Detalhes do Serviço</h2>

<div class="detalhes-servicos">
    <p><strong>Data de Inclusão:</strong> {{ servico.data_inclusao }}</p>
<p><strong>Código do Serviço:</strong> {{ servico.codigo_servicos }}</p>
<p><strong>Material Usado:</strong> {{ servico.material_usado }}</p>
<p><strong>Descrição do Serviço:</strong> {{ servico.descricao_servicos }}</p>
<p><strong>Código do Serviço Secundário:</strong> {{ servico.codigo_servicos_secundario }}</p>
<p><strong>Descrição do Serviço Secundário:</strong> {{ servico.descricao_servicos_secundario }}</p>
<p><strong>Aparelho de Apoio:</strong> {{ servico.aparelho_apoio }}</p>
<p><strong>Observações:</strong> {{ servico.observacoes }}</p>
</div>

<a href="{% url 'listar_servicos' %}" class="botao-voltar">Voltar</a>
{% endblock %}
