{% extends 'base.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/serviços/editar_serviços.css' %}">
{% endblock %}

{% block content %}
    <header class="cabecalho-conteudo">
        <h1 class="titulo-pagina">Editar Serviços</h1>
    </header>

    <form method="POST">
        {% csrf_token %}

        <section class="informacoes-pessoais">
            <h2>Cadastro de Serviços Prestados</h2>
            <div class="form-row">
                <div class="campo-formulario">
                    <label for="data_inclusao_servicos">Data Inclusao Servicos:</label>
                    <input type="date" name="data_inclusao" id="data_inclusao" class="input" required value="{{ servicos.data_inclusao_servicos }}">
                </div>

                <div class="campo-formulario">
                    <label for="codigo_servicos">Codido de Servicos:</label>
                    <input type="text" name="codigo_servicos" id="codigo_servicos" class="input" required value="{{ servicos.codigo_servicos }}">
                </div>
            </div>

            <div class="form-row">
                <div class="campo-formulario">
                    <label for="material_usado">Material Usado:</label>
                    <input type="text" name="material_usado" id="material_usado" class="input" required value="{{ servicos.material_usado }}">
                </div>

                <div class="campo-formulario">
                    <label for="descricao_serviços">Descrição_serviços:</label>
                    <input type="text" name="desccricao_servicos" id="descriçao_servicos" class="input" required value="{{ servicos.descricao_servicos }}">
                </div>
            </div>

                <div class="campo-formulario">
                    <label for="codigo_servicos_secundario">codigo servicos secundarios:</label>
                    <input type="text" name="codigo_servicos_secundarios" id="codigo_servicos_secundarios" class="input" required value="{{ servicos.codigo_servicos_secundarios }}">
                </div>
            </div>

            <div class="form-row">
                <div class="descricao_servicos_secundario">
                    <label for="descricao_servicos_secundario">descriçao_serviços_secundario:</label>
                    <input type="text" name="descricao_servicos_secundario" id="descricao_servicos_secundario" class="input" required value="{{ servicos.descricao_servicos_secundario }}">
                </div>
            </div>
            <div class="form-row">
                <div class="aparelhos_apoio">
                    <label for="aparelhos_apoio">aparelhos_apoio:</label>
                    <input type="text" name="aparelhos_apoio" id="aparelhos_apoio" class="input" required value="{{ servicos.aparelhos_apoio }}">
                </div>
            </div>
            <div class="form-row">
                <div class="observaçoes">
                    <label for="observaçoes">observaçoes:</label>
                    <input type="text" name="observaçoes" id="observaçoes" class="input" required value="{{ servicos.observacoes }}">
                </div>
            </div>
        </section>

    

        <button type="submit" class="btn-enviar">Salvar Alterações</button>
    </form>
{% endblock %}